.caixa{
    background-color: rgb(255, 128, 0);
    border-radius: 10px;
    display: flex;
    max-width: 600px;
    height: 200px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    
}
#caixa2{
   margin-top: 10px;
   padding-top: 10px;
   align-items: flex-start;
}

.item{
   background-color: aliceblue;
   margin: 10px;
   padding: 10px;
   height: 45px;
   border-radius: 15px;
   text-align: center;
   display: flex;
   align-items: center;
   font-size: .9rem;
   font-weight: 600;
           
}
