:root{

    --body:#000;
    --barraMenu: #dc0505;
    --textoMenu: #fff;
    /* cores da caixinha próximo a ft */
    --primeiroTitulo: #fff;
    --primeiroTexto:#ffffff;
    --BTexto:#20201f;
    /* fim da caixinha */
    
    /* cores caixa de sobre mim */
    --tituloSobre:#fff;
    --textoSobre:#fff;
    /* fim caixa de sobre mim */

    /* Outras cores */
    --sombra:5px 5px 20px 2px #474444;
    --sombraCliq:#fff;
    --BackgoundSobre:#20201f;
    --textoFooter:#fcf2f2;

    /* variaveis do formulário */

    --tituloFormulario: #fff;
    --nome:#fff;
    --email:#fff;
    --Bbotao:#dc0505;
    --mensagem: #fff;
    --fonteBotao:#fff;
}

