body {
    background-color: #3CB371;
}

.barra {
    align-items: center;
    background-color: #008000;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 2px #2E8B57;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin: 15px 10px 25px 10px;
    padding: 20px;
    text-align: center;
    color: #98FB98;
}

.barra #hamburgue {
    display: none;
}

.logo {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px;
    transition: .2s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.10);
}

#icone {
    background-color: transparent;
    display: none;
    height: 32px;
    
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    color: #98FB98;
    font-size: 1.2rem;
    text-decoration: none;
    transition: .2s;
    font-size: 1.1rem;
}

.menu ul li a:active {
    border-bottom: 3px solid #f80606;
    font-weight: 800;
}
.menu ul li:hover {
    cursor: pointer;
    transform: scale(1.10);
}

/* Para tira a segunda lista */

.mobileMenu {
    display:none;
}


/* para definir tamanho da imagem do hacker */
.hacker {
    height: 32px;
    
}
