*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 600;
    
}

/* variveis */
:root{

    --body:#000;
    --titulo:#fff;
    --subtitulo:#fff;
    --barraMenu: #dc0505;
    
    /* cores da caixinha próximo a ft */
        --BTexto:#20201f;
    /* fim da caixinha */
    
    /* Outras cores */
    --sombra:5px 5px 20px 2px #474444;
    --sombraCliq:#fff;
    --BackgoundSobre:#20201f;
    /* --textoFooter:#fcf2f2; */


    /* variavei para skill */

    --tituloSkill:#fff;
    --textSkill:#fff;
    --boxSkill:#20201f;

    /* fim das variveis */
    /* variaveis do formulário */

    --tituloFormulario: #fff;
    --nome:#fff;
    --email:#fff;
    --Bbotao:#dc0505;
    --mensagem: #fff;
    --fonteBotao:#fff;


    /* formação */

    --titulo:#fff;
}

/* fim das variveis */

body {
    background-color: var(--body);
    height: 100vh;
    color: var(--titulo);
    color: var(--subtitulo);
}
h1{
    font-size: 40px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
  

}

/* menu barra */

.barra {
    align-items: center;
    background-color: var(--barraMenu);
    border-radius: 20px;
    box-shadow: var(--sombra);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin: 15px 10px 25px 10px;
    padding: 20px;
    text-align: center;
 
}


.barra #hamburgue {
    display: none;
}

.logo {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px;
    transition: .2s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.10);
}

#icone {
    background-color: transparent;
    display: none;
    height: 32px;
    
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    color: var(--textoMenu);
    font-size: 1.2rem;
    text-decoration: none;
    transition: .2s;
    font-size: 1.1rem;
}

.menu ul li a:active {
    border-bottom: 3px solid var(--sombraCliq);
    font-weight: 800;
}
.menu ul li:hover {
    cursor: pointer;
    transform: scale(1.10);
}

/* Para tira a segunda lista */

.mobileMenu {
    display:none;
}


/* para definir tamanho da imagem do hacker */
.hacker {
    height: 32px;
    background-color: white;
    border-radius: 50%;
    
}
.hacker:hover{
    background-color: #cfc7c7;

}

/* fim do menu barra */

/* tudo que está dentro da main */
/* principal */
.principal{
  
    border-radius: 10px;
    margin: 10px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.container-conteudo{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    
}
.redeSociais{
    margin: 20px auto;
    
}

.perfil{
    height: 250px;
    border-radius: 50%;
    margin: 10px;
    padding: 8px;
    box-shadow: var(--sombra);
    visibility: hidden;
    
}

.SubTituloPerfil{
    text-align: center;
    margin: 10px;
    padding: 8px;
      
    
}

.texto-conteudo{
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--BTexto);
}


.texto-conteudo p{
    display: flex;
    padding: 10px;
    font-weight: 300;
    font-size: 1rem;
    max-width: 800px;
    text-align: justify;
        
}
.redeSociais{ 
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    padding: 5px;
}
h2{
    
    font-size: 1.5rem;
}
.sobre {
    margin: 10px;
    padding: 10px;
    background-color: var(--BackgoundSobre);
    max-width: 900px;
    border-radius: 10px;
    visibility: hidden;
}
.sobre h2 {
    margin: 20px;
    padding: 20px;
}
.sobre p{
    
    font-size: 1rem;
    margin: 20px;
    padding: 20px;
    

}
/* fim da principal */
/* skill */
.skill{
    
    margin: 10px;
    padding: 5px;
    visibility: hidden;
 
}


.skill .skill-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    margin: 10px;
    padding: 5px;
    gap: 10px;
    align-items: center;
    
}
.skill-titulo{
    
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
.skill-box ul {
    background-color: var(--boxSkill);
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 8px;
    border-radius: 10px;
    
}

.skill-name{
    font-size: .8rem;  
}

/* fim das skill */

/* Hobbies */
.hobbies{
    margin: 10px;
    padding: 5px;
    visibility: hidden;
   
}
.hobbies .hobbies-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    margin: 10px;
    padding: 5px;
    gap: 10px;
    align-items: center;
    
    
}
.hobbies-titulo{
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
.hobbies-box ul {
    background-color: var(--boxSkill);
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 8px;
    border-radius: 10px;
    
}
.fa-solid{
    margin-bottom: 8px;
}
.bi, .fa-solid{
   
    color: var(--textSkill);
}
.hobbies-name{
    font-size: .8rem;
   
}

/* Fim de Hobbies */
/* formação */
.formacao{
    background-color: #20201f;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    visibility: hidden;
}
.formacao img{
    height: 128px;
    padding: 15px;
    margin: 5px;
   
}
.formacao .formacao-titulo{
    font-size: 1.2rem;
    padding: 10px;
}
.formacao .formacao-subTitulo{
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
}
.formacao .formacaoP{
    font-weight: 100;
    font-size: 1rem;
    padding: 5px;
}
/* formulario */

.formulario{
    
    margin: 10px;
    padding: 10px;
}
input{
    height: 45px;
    padding: 5px;
}

#tituloFormulario{
    font-family: sans-serif;
    font-size: 1.4rem;
    margin: 5px;
    padding: 5px;
    text-align: center;
}


#nomeFormulario{
    
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
    
}

#nome{
    background-color: var(--BackgoundSobre);
    margin: 10px;
    color: var(--nome);
    width: 300px;
    font-size: 1rem;
}
#nome:hover{
    background-color: #5c5c58;
}
.divEmail{
    margin: 10px;
}

#email{
    font-family: sans-serif;
    padding: 10px;
    font-size: 1.2rem;
    
}
#emailF{
    background-color: var(--BackgoundSobre);
    margin-left: 14px;
    color: var(--email);
    width: 300px;
    font-size: .9rem;
}
#emailF:hover{
    background-color: #5c5c58;
}
fieldset{
    border: 0;
}
input, textarea, button{
    border-radius: 5px;
}
.divMensagem{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: start;
    max-width: 700px;
    
}
.divMensagem label{
  
    padding: 10px;
    margin: 5px;
    
}
#textMensagem{
    font-size: 1rem;
    text-align: start;
    padding-left: 0;
}
#mensagem{
    color:var(--mensagem);
    font-size: 1rem;
}
textarea{
    background-color: var(--BackgoundSobre);
}
textarea:hover{
    background-color: #5c5c58;
}


.botao{
    font-size: 1.2rem;
    padding: .5rem;
    background-color: var(--Bbotao);
    color: var(--fonteBotao);
    margin: 5px 15px;
    border-radius: 10px;
    
}
.botao:hover{

    cursor: pointer;
    background-color: #df2c2c;
}

/* footer */

footer{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 20px;
    padding: 0px 10px;
    text-align: center;
    visibility: hidden;
    
}
footer p{
   
    font-size: 12px;
    padding: 5px;
   
}
footer .footer_content a{
    text-decoration: none;
    color: var(--textoFooter);
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 2px;
}