
*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body{
    background-color: #778899;
    margin: 5px;
 
}
.containerPrincipal{
    margin: 5px;
    max-width: 1280px;
    margin: 0 auto; 
   
}

/* barra de menu */
header{
    background-color: #2F4F4F;
    box-shadow: 0px 3px 10px #000000;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    
    padding: 1rem 2rem;

}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .2s;
    &:hover{
        transform: scale(1.10);
        cursor: pointer;
    }
}
.logo h1{
    color: #fff;
    
}

.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
    
}
.nav-list ul li{
    transition: .2s;
    &:hover{
        transform: scale(1.10);
        cursor: pointer;
    }
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
img{
    height: 40px;
}
/* fim da barra de menu */

/* container 1 e 2 */
main{
   display: flex;
   margin-top: 20px;
   flex-direction: column;
   gap: 1rem;
}
.container{
    background-color: #A9A9A9;
    min-width: 400px;
    height: 200px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    

}
#container2{
    align-items: flex-start;

}

.item {
    text-align: center;
    padding: 10px;
    font-size: 0.7rem;
    background-color: #808080;
    margin: 10px; 
    border-radius: 10px;
    
    
   }
   
/* fim dos containers */
