
header{
    
    
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-around;
    
}

.nav-bar{
    display: flex;
    
    
    align-items: center;
   
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
img{
    height: 40px;
}
.logo h1{
    color: #fff;
}
.nav-list ul{
    display: flex;
    width: 18rem;
    justify-content:space-around;
    
}
.nav-list ul li .nav-link{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}

.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}


