
@media screen and (max-width:730px){
    /* Barra de menu  */
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
        transition: .2s;
        &:hover{
            transform: scale(1.10);
            cursor: pointer;
        }
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu ul li{
        transition: .2s;
        &:hover{
            transform: scale(1.10);
            cursor: pointer;
        }
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
   
    .open {
        display: block;
    }
}

/* fim da barra de menu */


@media screen and (max-width:545px) {
   /* Barra de menu */
    .nav-bar{
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 10px;
        align-items: center;
        
    }

    .logo{
        margin-top: 12px;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap:5px;
        
    }
    .logo h1{
        text-align: center;
    }
    img{
        height: 30px;
    }

}
/* Fim da barra de menu */

/* container 1 e 2 */
.container{
    width: 250px;
}
/* Fim do container 1 e 2 */
@media screen and (max-width:405px) {
    .container{
        min-width: 300px;
        width: 125px;
        padding: 10px;
        flex-wrap: wrap;
    }
    #container2{
        min-width: 300px;
        width: 125px;
        
       
    }
    
    /* Fim do container 1 e 2 */
}