@media screen and (max-width:730px){
   
    .nav-bar{
        padding: 1.5rem 4rem;
        
    }
    .nav-item{
        display: none;
    }
       
    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .nav-link{
        color: #fff;
        font-weight: 600;
    }
    .open{
        display: block;
    }
    .logo{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 300px;
        justify-content: center;
        padding: 10px 0;
        
    }
    .containerPrincipal .container{
       
        width: 720px;
        
    }
    
    
}
@media screen and (max-width:545px) {
    
    
    .logo{
        gap:5px;
    }
    img{
        height: 30px;
    }
    .nav-bar{
        display: flex;
        flex-direction: row;
        
    }
    .containerPrincipal .container{
        
        width: 380px;
        
    }
    .logo h1{
        font-size: 1rem;
    }
    
   
}
@media screen and (max-width:375px) {
   
    .containerPrincipal .container{
        
        width: 340px;
        
    }
    
   
}

