h1{
    text-align: center;
    margin: 10px;
}
.item {

    margin: 5px;
    padding: 5px;
    text-align: center;
    color: #fff;
    background: #447;
    font-size: 1rem;

}
.container {
    border: 1px solid #000;
    max-width: 500px;
    margin: 0 auto;
    
    
}
